.footer {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('path/to/your/background-image.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    color: white;
    padding: 40px 0;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    margin: 20px;
    flex: 1;
    min-width: 250px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 30px;
    transition: transform 0.3s;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.footer-section:hover {
    transform: translateY(-5px);
}

.footer-section h4 {
    margin-bottom: 20px;
    color: #ff0707;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.footer-section ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.footer-section li {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-section li svg {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.footer-section .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer-section .social-icons a {
    margin: 0 10px;
    color: white;
    font-size: 30px;
    transition: color 0.3s, transform 0.3s;
    padding: 15px;
    border-radius: 50%;
}

.footer-section .social-icons a:hover {
    color: #61dafb;
    transform: scale(1.1);
}

.footer-bottom {
    margin-top: 30px;
    font-size: 16px;
    color: #ccc;
    text-align: center;
}
